<mat-toolbar color="primary">

  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/" fxHide="false">
      <mat-icon>home</mat-icon>
    </button>
    <div *ngIf="authService.isExpired()">
      <button mat-button routerLink="/login" fxHide="false">Login</button>
    </div>
    <!-- <div *ngIf="authService.isExpired()" fxHide="false">
      <button mat-button routerLink="/register">Register</button>
    </div> -->

    <div *ngIf="!authService.isExpired()">
      <div *ngIf="!InOrganization">
        <button mat-button routerLink="/create-organization" fxHide="false">Create Organization</button>
      </div>
      <div *ngIf="InOrganization">
        <button mat-button [matMenuTriggerFor]="orgMenu">Organizations</button>
        <mat-menu #orgMenu="matMenu">
          <button mat-menu-item (click)="viewOrgs()">View Organizations</button>
          <button mat-menu-item (click)="createOrg()">Create Organization</button>
        </mat-menu>
      </div>
    </div>

    <div *ngIf="!authService.isExpired()">
      <div *ngIf="IsDirector">
        <button mat-button routerLink="/director" fxHide="false">Directors</button>
      </div>
    </div>

  </div>



  <button mat-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="example-spacer"></span>

  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <!-- logged in -->
    <div *ngIf="!authService.isExpired()">
      <button mat-button [matMenuTriggerFor]="user">
        User
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </div>

  <mat-menu #user="matMenu">
    <div *ngIf="!authService.isExpired()">
      <button mat-button routerLink="/user">User Page</button>
    </div>
    <div *ngIf="!authService.isExpired()">
      <button mat-button (click)="authService.logout()">Logout</button>
    </div>
  </mat-menu>

</mat-toolbar>






<!-- Shown when the window is for mobile or smaller-->
<mat-menu x-position="before" #menu="matMenu">
  <div *ngIf="authService.isExpired()">
    <button mat-button routerLink="/login">Login</button>
  </div>
  <!-- <div *ngIf="authService.isExpired()">
    <button mat-button routerLink="/register">Register</button>
  </div> -->
  <div *ngIf="!authService.isExpired()">
    <button mat-button (click)="authService.logout()">Logout</button>
  </div>
</mat-menu>