<mat-toolbar color="primary">

  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <div *ngIf="!authService.authenticated">
      <button mat-button routerLink="/login">Login</button>
    </div>
    <div *ngIf="!authService.authenticated">
      <button mat-button routerLink="/register">Register</button>
    </div>

    <!-- logged in -->
    <div *ngIf="authService.authenticated">
      <button mat-button routerLink="/user">User</button>
    </div>
    <div *ngIf="authService.authenticated">
      <button mat-button routerLink="/loimenu">LOI Menu</button>
    </div>
    <div *ngIf="authService.authenticated">
      <button mat-button (click)="authService.logout()">Logout</button>
    </div>
  </div>
  <button mat-button [matMenuTriggerFor]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <div *ngIf="!authService.authenticated">
    <button mat-button routerLink="/login">Login</button>
  </div>
  <div *ngIf="!authService.authenticated">
    <button mat-button routerLink="/register">Register</button>
  </div>
  <div *ngIf="authService.authenticated">
    <button mat-button (click)="authService.logout()">Logout</button>
  </div>
</mat-menu>