<div align="center">
  <h1>Application Timeline</h1>
</div>
<div>
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
      <table border=1 class="at">
        <thead>
          <tr>
            <th>
              Step
            </th>
            <th>
              Date
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div>
                Letter of Intent Submission Portal Opens
              </div>
              <br>
              <div>
                If your organization wishes to apply for funding, you must begin by completing the <span><a
                    [routerLink]="['/letintmenu']">Letter
                    of Intent</a></span>.
              </div>
            </td>
            <td>
              January 15
            </td>
          </tr>
          <tr>
            <td>
              <div>
                <span><a [routerLink]="['/letintmenu']">Letter
                    of Intent</a></span> Submission Deadline
              </div>
              <br>
              <div>
                No requests will be considered after this date.
              </div>
            </td>
            <td>April 1</td>
          </tr>
          <tr>
            <td>
              <div>
                Second round notifications distributed.
              </div>
              <br>
              <div>
                After a first round of deliberations, we will request full proposals from those organizations who best
                meet our objectives
                and criteria. A notification will be sent via email to the primary contact named on the letter of
                intent.
              </div>
              <br>
              <div>
                <span style="font-weight:bold">Due to the large volume of requests we receive each year, we DO NOT send
                  out
                  notifications of rejection.</span>
              </div>
            </td>
            <td>
              May 1
            </td>
          </tr>
          <tr>
            <td>
              <div>
                Full Proposal Submission Deadline
              </div>
              <br>
              <div>
                Full Proposals must be submitted online by this date. Late submissions will not be considered.
              </div>
            </td>
            <td>
              June 15
            </td>
          <tr>
            <td>
              Notification of grants to be funded
            </td>
            <td>
              August 15
            </td>
          </tr>
          <tr>
            <td>
              Distribution of Awards
            </td>
            <td>
              October 15
            </td>
          </tr>
        </tbody>
      </table>
    </mat-grid-tile>
  </mat-grid-list>

</div>