<div align="center">
  <h3>
    Director's Menu
  </h3>

  <div>
    <div>
      <button class="bsize" mat-raised-button routerLink="/director/organizations">View Organizations</button>
    </div>
  </div>
  <br>
  <div>
    <div>
      <button class="bsize" mat-raised-button routerLink="/director/lois">View Letter of Intents</button>
    </div>
  </div>
  <br>
  <div>
    <div>
      <button class="bsize" mat-raised-button routerLink="/director/fullproposals">View Full Proposals</button>
    </div>
  </div>
  <br>
  <div>
    <div *ngIf="accessLevel > 3">
      <button class="bsize" mat-raised-button routerLink="/admin">Admin Page</button>
    </div>
  </div>



</div>