<div>
  <img [src]="fullImagePath" width="20%" height="20%">
</div>

<div>
  The Hagen Family Foundation (THFF) is a private family foundation established in 1999 that provides financial grants to not-for-profit
  organizations.
</div>

<div>
  THFF favors creative and innovative proposals in the areas of:
  <ul>
    <li>The Arts</li>
    <li>Education</li>
    <li>Environment</li>
    <li>Religion</li>
    <li>Social Services</li>
  </ul>
</div>

<div>
  THFF does not consider contributions to annual drives, capital campaigns, research, or the support of on-going programs.
  THFF supports organizations nationwide, with special interest in Colorado, Michigan and Florida. Grants range from $1,000
  to $20,000 .
</div>

<div>
  <md-grid-list cols="2" rowHeight="50px">
    <md-grid-tile>
      <div>Board of Directors</div>
    </md-grid-tile>
    <md-grid-tile>
      <div>
        Contact Information:
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>

<div>
  <md-grid-list cols="2" rowHeight="150px">
    <md-grid-tile>
      <ul style="list-style: none;">

        <li>
          David F. Hagen, President and Treasurer
        </li>
        <li>
          Virginia L. Hagen, Vice President
        </li>
        <li>
          Dr. Patricia Born, Secretary and Director
        </li>
        <li>
          Rev. Dr. Andrew Hagen, Director
        </li>
        <li>
          Laura C. Hagen, Director
        </li>
        <li>
          Dr. Susan D. Hagen, Director
        </li>
        <li>
          Dane Patterson, Director
        </li>
      </ul>
    </md-grid-tile>
    <md-grid-tile>
      The Hagen Family Foundation <br> 401 E. Linton Blvd. #257 <br> Delray Beach, FL 33483 <br> www.hagenfamilyfoundation.org
      <br>
    </md-grid-tile>
  </md-grid-list>
</div>

<div>
  <div align="center">
    <div>
      Public Information Requirements
    </div>
    The items listed here are formatted in the Adobe Acrobat portable document format (PDF) . Get the <span><a href="https://acrobat.adobe.com/us/en/acrobat/pdf-reader.html">Acrobat Reader</a></span>    here.
    <br>
    <a href="/assets/thffappfile.pdf">1023 Application for Tax Exempt Status</a>
    <br>
    <a href="/assets/tax_returns/TaxReturn_990-PF_2012.pdf">2012 Tax Return</a>
    <br>
    <a href="/assets/tax_returns/TaxReturn_990-PF_2011.pdf">2011 Tax Return</a>
    <br>
    <a href="/assets/tax_returns/TaxReturn_990-PF_2010.pdf">2010 Tax Return</a>
    <br>
    <a href="/assets/tax_returns/TaxReturn_990-PF_2009.pdf">2009 Tax Return</a>
    <br>
    <a href="/assets/tax_returns/TaxReturn_990-PF_2008.pdf">2008 Tax Return</a>
    <br>
    <a href="/assets/tax_returns/TaxReturn_990-PF_2007.pdf">2007 Tax Return</a>
    <br>
    <a href="/assets/tax_returns/TaxReturn_990-PF_2006.pdf">2006 Tax Return</a>
    <br>
    <a href="/assets/tax_returns/TaxReturn_990-PF_2005.pdf">2005 Tax Return</a>
    <br>
    <a href="/assets/tax_returns/TaxReturn_990-PF_2004.pdf">2004 Tax Return</a>
    <br>
    <a href="/assets/tax_returns/TaxReturn_990-PF_2003.pdf">2003 Tax Return</a>
    <br>
    <a href="/assets/tax_returns/TaxReturn_990-PF_2002.pdf">2002 Tax Return</a>
    <br>
    <a href="/assets/tax_returns/TaxReturn_990-PF_2001.pdf">2001 Tax Return</a>
    <br>
    <a href="/assets/tax_returns/TaxReturn_990-PF_2000.pdf">2000 Tax Return</a>
  </div>
</div>