<div align="center">
  <h2>{{title}}</h2>
</div>
<div align="center">
  <md-input-container>
    <input mdInput placeholder="Username" value="" [(ngModel)]="userName">
  </md-input-container>
  <br>
  <md-input-container>
    <input mdInput placeholder="Password" type="password" value="" [(ngModel)]="password">
  </md-input-container>
  <br>
  <button md-raised-button (click)="login()">Login</button>
  <button md-raised-button (click)="register()">Register</button>
  <br>
  <br>
  <div>
    <a routerLink="/forgot-password-or-username">Forgot Password Or Username</a>
  </div>
</div>

