<div align="center">
  <h2>{{title}}</h2>
</div>
<div align="center">
  <mat-form-field>
    <input matInput placeholder="Username" value="" (keyup)="userName$.next($event.target.value)">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Password" type="password" value="" (keyup)="password$.next($event.target.value)">
  </mat-form-field>
  <br>
  <div *ngIf="ShowMessage">
    {{message}}
    <br>
  </div>
  <br>
  <button mat-raised-button (click)="login()">Login</button>
  <button mat-raised-button (click)="register()">Register</button>
  <br>
  <br>
  <div>
    <a routerLink="/reset-password-or-username">Reset Password Or Forgot Username</a>
  </div>
</div>