<div align="center">
  <h2>{{title}}</h2>
</div>
<div align="center">
  <mat-input-container>
    <input matInput placeholder="Username" value="" [(ngModel)]="userName" (ngModelChange)="usernameChange($event)">
  </mat-input-container>
  <br>
  <mat-input-container>
    <input matInput placeholder="Password" type="password" value="" [(ngModel)]="password" (ngModelChange)="passwordChange($event)">
  </mat-input-container>
  <br>
  <div *ngIf="ShowMessage">
    {{message}}
    <br>
  </div>
  <br>
  <button mat-raised-button (click)="login()">Login</button>
  <button mat-raised-button (click)="register()">Register</button>
  <br>
  <br>
  <div>
    <a routerLink="/reset-password-or-username">Reset Password Or Forgot Username</a>
  </div>
</div>