<div align="center">
    <h2>{{title}}</h2>
</div>

<div align="center">
    <mat-input-container>
        <input matInput placeholder="Current Password" type="password" value="" [(ngModel)]="currentPassword" (ngModelChange)="currentPasswordChange($event)">
    </mat-input-container>
    <br>
    <mat-input-container>
        <input matInput placeholder="New Password" type="password" value="" [(ngModel)]="newPassword" (ngModelChange)="newPasswordChange($event)">
    </mat-input-container>
    <div *ngIf="ShowCurrentNewError">
        Current password and New Password match.
    </div>
    <br>
    <div *ngIf="ShowConfirmPassword">
        <mat-input-container>
            <input matInput placeholder="Confirm Password" type="password" value="" [(ngModel)]="confirmPassword" (ngModelChange)="confirmPasswordChange($event)">
        </mat-input-container>
    </div>
    <div *ngIf="ShowNewConfirmError">
        New and Current Password do not match.
    </div>
    <div *ngIf="ShowMessage">
        {{message}}
    </div>
    <br>
    <div *ngIf="CanSetNewPassword">
        <button mat-raised-button (click)="setNewPassword()">Set New Password</button>
    </div>

</div>