<div align="center">
  <h2>Getting Started</h2>
</div>

<div class="tutorial">

  <p align="center">Welcome to the new THFF Grant Application Portal!</p>
  <p>
    The grant request process involves several steps. You must first
    register as an individual user in the Application Portal. Then, as a user, you must register your non-profit
    organization. When you register your organization, you will be asked to provide basic information about the
    organization and to upload a copy of your IRS 501(c)(3) determination letter. The information requested includes a
    brief description of your organization, the year it was founded, principal officers, contact information, and
    annual operating budget.
  </p>
  <p>
    Finally, once your organization is registered, you will be able to submit a letter of intent.
  </p>
  <p>
    A letter of intent gives the Board of Directors a first look at the fit of the request to their funding policies
    and criteria. It
    gives the requestor a quick review without a substantial effort as required by the grant request itself.
    A letter of intent must be submitted through the Application Portal by the deadline indicated on the Application
    Timeline.
  </p>
  <p>
    Should the letter of intent be favorably considered by the Board of Directors, the requestor will be contacted in
    early May and asked to generate a more
    detailed grant request document. The detailed grant request document must be submitted through the Application
    Portal by the deadline indicated on the Application Timeline. The Board of
    Directors makes final decisions on its grants at its annual meeting in August of each year.
  </p>

</div>

<div align="center" class="reg-button">
  <button mat-raised-button color="primary" routerLink="/register">Click here to register</button>
</div>

<div align="center">
  <p>If you have already registered, please use the Login link below.</p>
</div>

<div align="center" class="reg-button">
  <button mat-raised-button color="primary" routerLink="/login">Click here to login</button>
</div>