<!-- <mat-card>
  <mat-card-title>Change Password</mat-card-title>
  <mat-card-content> -->
<h3>Change Password</h3>
<mat-input-container>
  <input matInput placeholder="Current Password" type="password" value="" (keyup)="currentPassword$.next($event.target.value)" [(ngModel)]="curP">
</mat-input-container>
<br>
<mat-input-container>
  <input matInput placeholder="New Password" type="password" value="" (keyup)="newPassword$.next($event.target.value)" [(ngModel)]="newP">
</mat-input-container>
<br>
<div *ngIf="ShowConfirmPassword">
  <mat-input-container>
    <input matInput placeholder="Confirm Password" type="password" value="" (keyup)="confirmPassword$.next($event.target.value)" [(ngModel)]="conP">
  </mat-input-container>
</div>
<div *ngIf="!ShowConfirmPassword">
  <br>
  <br>
  <br>
</div>
<div *ngIf="ShowMessage">
  {{message}}
  <br>
  <br>
</div>
<div *ngIf="CanChangePassword">
  <button mat-raised-button (click)="changePassword()">Change Password</button>
</div>
<div *ngIf="!CanChangePassword">
  <br>
  <br>
</div>
<!-- </mat-card-content>
</mat-card> -->