<mat-card>
  <mat-card-title>Change Password</mat-card-title>
  <mat-card-content>

    <mat-input-container>
      <input matInput placeholder="Current Password" type="password" value="" (keyup)="currentPassword$.next($event.target.value)">
    </mat-input-container>
    <br>
    <mat-input-container>
      <input matInput placeholder="New Password" type="password" value="" (keyup)="newPassword$.next($event.target.value)">
    </mat-input-container>
    <br>
    <div *ngIf="ShowConfirmPassword">
      <mat-input-container>
        <input matInput placeholder="Confirm Password" type="password" value="" (keyup)="confirmPassword$.next($event.target.value)">
      </mat-input-container>
    </div>
    <br>
    <div *ngIf="!ShowConfirmPassword">
      <br>
      <br>
      <br>
    </div>
    <div *ngIf="ShowMessage">
      {{message}}
      <br>
    </div>
    <div *ngIf="CanChangePassword">
      <button mat-raised-button (click)="changePassword()">Change Password</button>
    </div>
    <div *ngIf="!CanChangePassword">
      <br>
      <br>
    </div>
  </mat-card-content>
</mat-card>