<mat-card>
  <div align="center">
    <h3>Letter Of Intent Information</h3>
  </div>

  <div class="example-container">
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Project Title" value={{projectTitle}} disabled>
      </mat-form-field>
    </div>
    <div *ngIf="resetPurpose">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!resetPurpose">
      <mat-form-field class="full-width purpose-size">
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows=1 cdkAutosizeMaxRows=50 placeholder="Purpose"
          value={{purpose}} disabled></textarea>
        <mat-hint align="start">{{purpose?.toString().length}} / 2000</mat-hint>
      </mat-form-field>
    </div>
    <br>
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Project Start Date" value={{startDate}} disabled>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Project End Date" value={{endDate}} disabled>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Amount Requested" value="{{amountRequested | currency}}" disabled>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class=" full-width">
        <input matInput placeholder="Total Project Cost" value="{{totalProjectCost | currency}}" disabled>
      </mat-form-field>
    </div>
  </div>
</mat-card>