<mat-card>
  <div align="center">
    <h3>Letter Of Intent Voting</h3>
  </div>
  <div *ngIf="Loading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!Loading">
    <mat-slider class="example-margin" [disabled]="disabled" [invert]="invert" [max]="max" [min]="min" [step]="step"
      [thumbLabel]="thumbLabel" [tickInterval]="tickInterval" [(ngModel)]="vote" (input)="onInputChange($event)"
      [vertical]="vertical">
    </mat-slider>
    <div>
      {{outputVote}}
    </div>
  </div>
</mat-card>