<div align="center">
  <h3>Letter of Intent Submit</h3>
</div>

<p>
  In Order to submit an LOI, you must have the following completed.
</p>
<ul>
  <li>
    LOI Info filled out.
  </li>
  <li>
    Org Info filled out.
  </li>
  <li>
    501c3 Submitted and reviewed
  </li>
</ul>
<p>
  {{HasLOIInfo}} - Does Not have LOI info
</p>
<p>
  {{HasOrgInfo}} - Does Not have Org info
</p>

<p>{{LOISubmitted}}</p>
<div *ngIf="!LOISubmitted">
  <div *ngIf="CanSubmit">
    <button mat-raised-button (click)="submitLOI()">Submit</button>
  </div>
</div>