<div align="center">
  <h3>Letter of Intent Info</h3>
</div>

<div *ngIf="!editing">
  <button mat-raised-button (click)="edit()">Edit</button>
</div>

<div *ngIf="editing">
  <button *ngIf="CanSave" mat-raised-button (click)="save()">Save</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</div>

<br>
<div *ngIf='!editing'>

  <div class="example-container">
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Project Title" value={{projectTitle}} disabled>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Purpose" value={{purpose}} disabled></textarea>
        <mat-hint align="start">
          2000 Characters Maximum - Current Count: {{purpose?.length}}
        </mat-hint>
      </mat-form-field>
    </div>
    <br>
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Project Start Date" value={{startDate}} disabled>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Project End Date" value={{endDate}} disabled>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Amount Requested" value="{{amountRequested | currency }}" disabled>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Total Project Cost" value="{{totalProjectCost | currency}}" disabled>
      </mat-form-field>
    </div>
  </div>
</div>

<div *ngIf='editing'>
  <div>
    <mat-form-field class="full-width">
      <input matInput placeholder="Project Title" value={{projectTitle}}
        (keyup)="projectTitle$.next($event.target.value) ">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Purpose " maxlength="2000" value={{purpose}}
        (keyup)="purpose$.next($event.target.value) "></textarea>
      <!-- <mat-hint align="start "> -->
      <!-- <strong>2000 Characters Maximum</strong> -->
      <mat-hint align="start">{{purpose?.toString().length}} / 2000</mat-hint>
      <!-- </mat-hint> -->
    </mat-form-field>
  </div>
  <br>
  <div>
    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="picker3" placeholder="Project Start Date" [value]="projectStartDate.value"
        (dateInput)="projectStartDate$.next($event.target.value) "
        (dateChange)="projectStartDate$.next($event.target.value) ">
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="picker4" placeholder="Project End Date" [value]="projectEndDate.value"
        (dateInput)="projectEndDate$.next($event.target.value) "
        (dateChange)="projectEndDate$.next($event.target.value) ">
      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
      <mat-datepicker #picker4></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Amount Requested " currencyMask [(ngModel)]="amountRequested"
          (ngModelChange)="amountRequestedChange($event)">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="Total Project Cost " currencyMask [(ngModel)]="totalProjectCost"
          (ngModelChange)="totalProjectCostChange($event)">
      </mat-form-field>
    </div>
    <div *ngIf="ShowCostMessage">
      {{costMessage}}
    </div>
  </div>
</div>