<div align="center">
  <h3>{{title}}</h3>
</div>
<div align="center">
  <div>
    <mat-form-field>
      <input matInput placeholder="Username" type="username" value="" (keyup)="userName$.next($event.target.value)">
    </mat-form-field>
    <div *ngIf="ShowUserNameError">
      That User Name was not found in the database.
    </div>
    <br>
    <mat-form-field>
      <input matInput placeholder="Email" type="email" value="" (keyup)="email$.next($event.target.value)">
    </mat-form-field>
    <div *ngIf="ShowEmailError">
      That Email was not found in the database.
    </div>
  </div>
  <div *ngIf="CanResetPassword">
    <button mat-raised-button (click)="resetPassword()">Reset Password</button>
  </div>
</div>