<md-toolbar color="primary">

  <button md-button routerLink="/">
    <md-icon>home</md-icon> 
  </button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <div *ngIf="!authService.authenticated">
      <button md-button routerLink="/login">Login</button>
    </div>
    <div *ngIf="!authService.authenticated">
      <button md-button routerLink="/register">Register</button>
    </div>
    <div *ngIf="authService.authenticated">
      <button md-button (click)="authService.logout()">Logout</button>
    </div>
  </div>
  <button md-button [md-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
     <md-icon>menu</md-icon>
    </button>

</md-toolbar>
<md-menu x-position="before" #menu="mdMenu">
  <button md-menu-item routerLink="/login">Login</button>
</md-menu>

<router-outlet></router-outlet>