.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .year-founded-width {
    width: 100px;
  }

  .titles-gray {
    color: gray;
  }