<div align="center">
  <h3>Organization Information</h3>
</div>

<div *ngIf="!editing">
  <button mat-raised-button (click)="edit()">Edit</button>
</div>

<div *ngIf="editing">
  <button *ngIf="canSave" mat-raised-button (click)="save()">Save</button>
  <button mat-raised-button (click)="cancel()">Cancel</button>
</div>

<br>
<div *ngIf='!editing'>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Legal Name" value={{legalName}} disabled>
    </mat-form-field>

    <div>
      <mat-form-field>
        <input matInput placeholder="Year Founded" value={{yearFounded}} disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Current Operating Budget" value="{{currentOperatingBudget | currency}}" disabled>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Executive Director" value={{director}} disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Phone Number" value={{phone}} disabled>
      </mat-form-field>
    </div>
    <div>
      <div class="titles-gray">
        Contact Person
      </div>
      <p>
        <mat-form-field>
          <input matInput placeholder="Contact Person" value={{contactPerson}} disabled>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Title" value={{contactPersonTitle}} disabled>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Phone Number" value={{contactPersonPhoneNumber}} disabled>
        </mat-form-field>
      </p>
    </div>
    <div class="titles-gray">Principal/Administrative Office
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Email" value={{email}} disabled>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Address" value={{address}} disabled></textarea>
      </mat-form-field>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="City" value={{city}} disabled>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="State" value={{state}} disabled>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Zip" value={{zip}} disabled>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </div>
    <mat-form-field>
      <input matInput placeholder="Fax" value={{fax}} disabled>
    </mat-form-field>
  </div>
</div>

<div *ngIf='editing'>
  <div class="example-container">
    <form [formGroup]="formOrganization">
      <div class="form-group">
        <mat-form-field class="quarter-width">
          <input matInput placeholder="Legal Name" formControlName="legalName" value={{legalName}} required
            (keyup)="legalName$.next($event.target.value)">
          <mat-error *ngIf="formOrganization.get('legalName').hasError('required')">
            Legal Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div>
          <mat-form-field class="year-founded">
            <input matInput placeholder="Year Founded" formControlName="yearFounded" maxlength="4" value={{yearFounded}}
              required (keyup)="yearFounded$.next($event.target.value)">
            <mat-hint align="end">{{yearFounded?.toString().length}} / 4</mat-hint>
            <mat-error *ngIf="formOrganization.get('yearFounded').hasError('required')">
              Year Founded is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field class="current-operating-budget">
            <input matInput formControlName="currentOperatingBudget" placeholder="Current Operating Budget" currencyMask
              required [(ngModel)]="currentOperatingBudget" (ngModelChange)="currentOperatingBudgetChange($event)">
            <mat-error *ngIf="formOrganization.get('currentOperatingBudget').hasError('required')">
              Current Operating Budget is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field>
          <input matInput placeholder="Executive Director" formControlName="director" value={{director}} required
            (keyup)="director$.next($event.target.value)">
          <mat-error *ngIf="formOrganization.get('director').hasError('required')">
            Executive Director is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="phone" value={{phone}} type="text" appPhoneMask formControlName="phone"
            id="phone-number" placeholder="Phone Number" (keyup)="phone$.next($event.target.value)" required>
          <mat-error *ngIf="formOrganization.get('phone').hasError('required')">
            Phone Number is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      </div>
    </form>
    <div>
      Contact Person
      <form [formGroup]="formContactPerson">
        <div class="form-group">
          <mat-form-field>
            <input matInput placeholder="Contact Person" formControlName="contactPerson" value={{contactPerson}}
              (keyup)="contactPerson$.next($event.target.value)" required>
            <mat-error *ngIf="formContactPerson.get('contactPerson').hasError('required')">
              Contact Person is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Title" formControlName="contactPersonTitle" value={{contactPersonTitle}}
              (keyup)="contactPersonTitle$.next($event.target.value)" required>
            <mat-error *ngIf="formContactPerson.get('contactPersonTitle').hasError('required')">
              Contact Person Title is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput class="form-control" value={{contactPersonPhoneNumber}} type="text" appPhoneMask
              formControlName="contactPersonPhoneNumber" id="phone-number" placeholder="Phone Number"
              (keyup)="contactPersonPhoneNumber$.next($event.target.value)" required>
            <mat-error *ngIf="formContactPerson.get('contactPersonPhoneNumber').hasError('required')">
              Contact Person Phone Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>

    <div>Principal/Administrative Office
      <div>
        <mat-form-field class="quarter-width">
          <textarea matInput placeholder="Address" [formControl]="addressFormControl" value={{address}} required
            (keyup)="address$.next($event.target.value)"></textarea>
          <mat-error *ngIf="addressFormControl.hasError('required')">
            Address is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="City" [formControl]="cityFormControl" value={{city}} required
                  (keyup)="city$.next($event.target.value)">
                <mat-error *ngIf="cityFormControl.hasError('required')">
                  City is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="State" [formControl]="stateFormControl" value={{state}} required
                  (keyup)="state$.next($event.target.value)">
                <mat-error *ngIf="stateFormControl.hasError('required')">
                  State is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput placeholder="Zip" maxlength="5" [formControl]="zipFormControl" value={{zip}} required
                  (keyup)="zip$.next($event.target.value)">
                <mat-hint align="end">{{zip?.toString().length}} / 5</mat-hint>
                <mat-error *ngIf="zipFormControl.hasError('required')">
                  Zip is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <form [formGroup]="formFax">
      <div class="form-group">
        <mat-form-field>
          <input matInput class="form-control" value={{fax}} type="text" appPhoneMask formControlName="fax" id="fax"
            placeholder="Fax" (keyup)="fax$.next($event.target.value)">
        </mat-form-field>
      </div>
    </form>

  </div>
  <div *ngIf="showCurrentOperatingBudgetMessage">
    {{currentOperatingBudgetMessage}}
  </div>
</div>