<div *ngIf="!editing">
  <button mat-raised-button (click)="edit()">Edit</button>
</div>
<div *ngIf="editing">
  <button mat-raised-button (click)="save()">Save</button>
</div>
<div *ngIf='!editing'>
  -Legal Name of Organization Applying: -Year Founded -Current Operating Budget -Executive Director -Phone Number -Contact
  person/title/phone number -Email Address -Address (principal/administrative office) -City -State -Zip -Fax Number
</div>
<div *ngIf='editing'>
  -Legal Name of Organization Applying: -Year Founded -Current Operating Budget -Executive Director -Phone Number -Contact
  person/title/phone number -Email Address -Address (principal/administrative office) -City -State -Zip -Fax Number

  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Legal Name" value="" (keyup)="legalName$.next($event.target.value)">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Year Founded" value="" (keyup)="yearFounded$.next($event.target.value)">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Current Operating Budget" value="" (keyup)="currentOperatingBudget$.next($event.target.value)">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Executive Director" value="" (keyup)="director$.next($event.target.value)">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Phone Number" value="" (keyup)="phone$.next($event.target.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Contact Person" value="" (keyup)="contactPerson$.next($event.target.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Title" value="" (keyup)="contactPersonTitle$.next($event.target.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Number" value="" (keyup)="contactPersonPhoneNumber$.next($event.target.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" value="" (keyup)="email$.next($event.target.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Address" value="" (keyup)="address$.next($event.target.value)">
      <mat-hint align="start">
        <strong>Principal/Administrative Office</strong>
      </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="City" value="" (keyup)="city$.next($event.target.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="State" value="" (keyup)="state$.next($event.target.value)">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Zip" #zip value="" (keyup)="zip$.next($event.target.value)">
      <mat-hint align="end">{{zip.value.length}} / 5</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Fax" value="" (keyup)="fax$.next($event.target.value)">
    </mat-form-field>

  </div>

</div>