<div *ngIf="!editing">
  <button mat-raised-button (click)="edit()">Edit</button>
</div>
<div *ngIf="editing">
  <button mat-raised-button (click)="save()">Save</button>
</div>
<div *ngIf='!editing'>
  -Legal Name of Organization Applying: -Year Founded -Current Operating Budget -Executive Director -Phone Number -Contact
  person/title/phone number -Email Address -Address (principal/administrative office) -City -State -Zip -Fax Number
</div>
<div *ngIf='editing'>
  -Legal Name of Organization Applying: -Year Founded -Current Operating Budget -Executive Director -Phone Number -Contact
  person/title/phone number -Email Address -Address (principal/administrative office) -City -State -Zip -Fax Number

  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Input">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Textarea"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>