<div>
  <mat-card>
    <div>
      <h3>Submission Years</h3>
      <div>
        <div *ngIf="!SubmissionYear">
          <button class="bsize" mat-raised-button (click)="createSubmissionYear()">Create Submission Year</button>
        </div>
        <div *ngIf="SubmissionYear">
          <div>
            Submission Year Already Created
            <!-- show list of previous Submission Years -->
          </div>
          <div>
            <div>
              <button class="bsize" mat-raised-button (click)="closeSubmissionYear()">Close Submission Year</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </mat-card>
</div>