<div align="center">
  <div id="title">
    <h2>{{title}}</h2>
  </div>
</div>
<!-- primary content -->
<!-- 
<div align="center">
  <div id="2001">
    CEEP Update, Fall 2001
    <br> The University of Michigan - Dearborn
    <br> College of Engineering and Education Practice (CEEP)
    <div>
      <img [src]="fullImagePath" width="40%" height="40%">
    </div>
  </div>
  <div>
    <div>
      <img [src]="fullImagePath2" width="60%" height="60%">
    </div>
  </div>
  <br>
  <br>

  <div id="2005">
    <div>
      <div align="center">
        Children in Cambodia supported through a grant to Warm Blankets Childrens Foundation (2005)
      </div>
      <br>
      <img [src]="fullImagePath4" width="60%" height="60%">
    </div>
  </div>
  <br>

  <div id="2006">
    <div>
      <div align="center">
        In 2006, THFF provided funding for lighting in the new library at Overland Elementary School in Los Angeles, California.
      </div>
      <br>
      <img [src]="fullImagePath3" width="60%" height="60%">
    </div>
  </div>
</div> -->
<!-- <table-of-contents #toc container=".mat-drawer-content"></table-of-contents> -->

<div class="reader">
  <div class="columnify" contents>
    <!-- Body -->
    <div>
      <div [contentsSection]="'section-one'">
        <h1>The University of Michigan - Dearborn</h1>
        <p>College of Engineering and Education Practice (CEEP)</p>
        <p>Fall 2001 </p>
        <div>
          <img [src]="fullImagePath" width="40%" height="40%">
        </div>
        <div>
          <img [src]="fullImagePath2" width="60%" height="60%">
        </div>
      </div>

      <div [contentsSection]="'section-two'">
        <h1>Children In Cambodia</h1>
        <div>
          <div align="center">Children in Cambodia supported through a grant to Warm Blankets Childrens Foundation (2005)</div>
          <br>
          <img [src]="fullImagePath4" width="60%" height="60%">
        </div>
      </div>

      <div [contentsSection]="'section-three'">
        <h1>Overland Elementary</h1>
        <div>
          <div align="center">
            In 2006, THFF provided funding for lighting in the new library at Overland Elementary School in Los Angeles, California.
          </div>
          <br>
          <img [src]="fullImagePath3" width="60%" height="60%">
        </div>
      </div>
    </div>
    <!-- Table of Contents -->
    <div class="table-column">
      <ul class="contents-table" contentsTable>
        <li>
          <a href="#section-one" contentsLink pageScroll>University of Michigan - Dearborn</a>
        </li>
        <li>
          <a href="#section-two" contentsLink pageScroll>Children In Cambodia</a>
        </li>
        <li>
          <a href="#section-three" contentsLink pageScroll>Overland Elementary</a>
        </li>
      </ul>
    </div>
  </div>

  <div align="center">
    <!-- Back to the top -->
    <button mat-raised-button id="myBtn" (click)="topFunction()">Top</button>
  </div>
</div>