<div align="center">
  <h2>{{title}}</h2>
</div>
<div align="center">
  <div>
    CEEP Update, Fall 2001<br> The University of Michigan - Dearborn<br> College of Engineering and Education Practice (CEEP)
    <div>
      <img [src]="fullImagePath" width="40%" height="40%">
    </div>
  </div>
  <div>
    <div>
      <img [src]="fullImagePath2" width="60%" height="60%">
    </div>
  </div>
  <br>
  <div>
    <div>
      In 2006, THFF provided funding for lighting in the new library at Overland Elementary School in Los Angeles, California.
      <img [src]="fullImagePath3" width="60%" height="60%">
    </div>
  </div>
  <br>
  <div>
    <div>
      Children in Cambodia supported through a grant to Warm Blankets Childrens Foundation (2005)
      <img [src]="fullImagePath4" width="60%" height="60%">
    </div>
  </div>


</div>