<div>
    <img [src]="fullImagePath" width="20%" height="20%">
</div>
<div>
    The initial requirement of any non-profit organization seeking a grant from the THFF is that of a <span><a [routerLink]="['/letintmenu']">letter of intent</a></span>.
    This letter gives the foundation directors a first look at the fit of the request to their funding policies/criteria.
    It gives the requestor a quick review without a substantial effort as required by the grant request itself. The Hagen
    Family Foundation’s ("THFF") Board of Directors decides on its grants at its annual meeting in August of each year. A
    letter of intent and all subsequent items should be submitted to the Foundation’s office by the dates indicated in the
    <span><a [routerLink]="['/application-timeline']">application timeline</a></span>. The letter of intent must be completed
    before the deadline using the <span><a [routerLink]="['/letintmenu']">online form</a></span>.
</div>
<br>
<div>
    Should the letter of intent be favorably considered by the foundation board of directors then the requestor will be contacted
    in early May and asked to submit a full proposal. The full proposal is due in mid June.
</div>
<br>
<div>
    Full proposals should include all the following information in the format and will also be submitted via an online form,
    if requested. Specific information requested in the online full proposal application includes:
</div>
<br>
<div>
    <ul>
        <li>a brief background of the organization applying for funding</li>
        <li> a description of the project for which the organization is seeking funds </li>
        <li>qualifications of the people who will be directing the project </li>
        <li>an explanation of how the success of the project will be measured</li>
        <li>roles of the other organizations you will be working with to accomplish your objectives </li>
        <li>plans for the future sustainability of the project </li>
        <li>the specific dollar amount being requested from the foundation.</li>
        <li>an operating budget for the project showing what the organization and other appropriate parties are committing to
            the effort</li>
    </ul>
</div>
<br>
<div>
    IMPORTANT: Applicants submitting full proposals must submit a copy of the organization’s IRS 501(c)(3) determination letter
    via email to <span><a href="mailto:webmaster@hagenfamilyfoundation.org" target="_top">webmaster@hagenfamilyfoundation.org</a></span>.
</div>
<br>
<div>
    Unfortunately, the foundation finds that its resources do not come close to accommodating all the good requests submitted
    and must decline the majority of the proposals it receives, including many that meet the grant-making criteria.
    <span style="font-weight:bold">Due to the large volume of requests we receive each year, we DO NOT send out notifications of rejection.</span>
</div>