<div align="center">
  <h2>{{title}}</h2>
  <h3>
    {{subTitle}}
  </h3>
</div>
<div>
  <div>
    Q. Does the Letter of Intent have to be submitted by the due date?
  </div>
  <div>
    A. Yes. The timestamp on your online submission must precede our deadline for the Letter of Intent.
  </div>
</div>
<br>
<div>
  <div>
    Q. Is it acceptable to submit the Letter of Intent by email or regular mail?
  </div>
  <div>
    A. No. We have provided an online entry form for the Letter of Intent. We will only receive Letters of Intent submitted through
    the online process.
  </div>
</div>
<br>
<div>
  <div>
    Q. I have missed the deadline for the letter of intent. If I submit a letter now, will it be considered for funding?
  </div>
  <div>
    A. No. We have been deluged with requests, and have been forced to stick to our deadline. We encourage you to prepare for
    the next year's review.
  </div>
</div>
<br>
<div>
  <div>
    Q. I was wondering what your policy was regarding providing grants to the same organization more than once. My organization
    received funding in the past, and we sould like to apply again in the future.
  </div>
  <div>
    A. We do not restrict funding to only those who have never received a grant from us before.
  </div>
</div>