<mat-card>
  <mat-card-title>Change Email</mat-card-title>
  <mat-card-content>
    Current Email: {{email}}
    <br>
    <mat-input-container>
      <input matInput placeholder="New Email" value="" (keyup)="newEmail$.next($event.target.value)">
    </mat-input-container>
    <br>
    <div *ngIf="CanChangeEmail">
      <button mat-raised-button (click)="changeEmail()">Change Email</button>
    </div>
    <div *ngIf="!CanChangeEmail">
      <br>
      <br>
    </div>
  </mat-card-content>
</mat-card>