<div align="center">
  <div>
    <h3>View Letter of Intent</h3>
  </div>
  <div>
    <h4>Viewing Letter of Intent: {{loi?.name}}</h4>
    <h5>Organization: {{orgName}}</h5>
  </div>

  <div class="loi-basic">
    <mat-grid-list cols="4" rows="3" [rowHeight]="basicRowHeight">
      <mat-grid-tile colspan="3" rowspan="3">
        <div *ngIf="loi" class="loi-info">
          <app-director-org-view-letter-of-intent-info [loi]="loi"></app-director-org-view-letter-of-intent-info>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div>
          <div *ngIf="loi">
            <app-director-org-view-letter-of-intent-status [loi]="loi"></app-director-org-view-letter-of-intent-status>
          </div>
          <div *ngIf="loi">
            <app-director-org-loi-president-voting></app-director-org-loi-president-voting>
          </div>
          <div *ngIf="loi">
            <app-director-org-loi-voting></app-director-org-loi-voting>
          </div>
        </div>
      </mat-grid-tile>

    </mat-grid-list>
  </div>

</div>