.example-card {
    max-width: 400px;
  }
  
  .mat-card {
    margin: 16px 0;
  }
  
  p {
    margin: 16px;
  }
   
  .demo-basic-list .mat-grid-tile {
    background: white;
  }
  
  img {
    width: 350px;
  }

  .change_password_email {
    display:flex;
    flex-direction: column;
  }

  .user-info {
    width: 1000px
  }

  .user-org-loi {
    width: 1000px
  }

  .child-grid{
    width: 100%;
    height: 100%;
  }
   