<div align="center">
  <h2>User Page - {{user.username}}</h2>

  <div class="user-org-loi">
    <mat-grid-list cols="2" [rowHeight]="basicRowHeight">
      <mat-grid-tile>
        <mat-card>
          <app-user-organization [user]="user"></app-user-organization>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-content>
            <app-user-letter-of-intent [user]="user"></app-user-letter-of-intent>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="user-info">
    <mat-card>
      <app-user-update-main [user]="user"></app-user-update-main>
    </mat-card>
  </div>
</div>