<mat-card>
  <mat-card-title>Organization Page - {{org?.name}}</mat-card-title>
  <mat-card-content class="demo-basic-list">
    <mat-grid-list cols="2" [rowHeight]="basicRowHeight">
      <mat-grid-tile [rowspan]="2">
        <mat-card>
          <mat-card-content>
            card 1
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-content>
            Users
            <div *ngIf='org'>
              <app-organization-users [org]="org"></app-organization-users>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-content>
            Requests
            <div *ngIf='org'>
              <app-organization-requests [org]="org"></app-organization-requests>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>