<div align="center">
  <h3>{{title}}</h3>
</div>

<div align="center">
  <mat-form-field class="full-width">
    <input matInput placeholder="LOI Name" value="" required (keyup)="loiName$.next($event.target.value)">
  </mat-form-field>
  <br>
  <div *ngIf='!orgName'>
    <mat-form-field class="full-width">
      <mat-select placeholder="Select Organization" required [(ngModel)]="orgSelected" name="org" (ngModelChange)="orgChanged($event)">
        <mat-option *ngFor="let org of organizations" [value]="org.organizationID">
          {{ org.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf='orgName'>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Organization" disabled value='{{orgName}}'>
    </mat-form-field>
  </div>
  <mat-form-field class="full-width">
    <!-- <input matInput placeholder="Description" value="" (keyup)="description$.next($event.target.value)"> -->
    <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" (keyup)="description$.next($event.target.value)"></textarea>
  </mat-form-field>
</div>

<div align="center">
  <div>
    <mat-form-field class="full-width">
      <input matInput placeholder="Project Title" value={{projectTitle}} required (keyup)="projectTitle$.next($event.target.value) ">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="full-width">
      <textarea matInput placeholder="Purpose " value={{purpose}} required (keyup)="purpose$.next($event.target.value) "></textarea>
      <!-- <mat-hint align="start "> -->
      <!-- <strong>2000 Characters Maximum</strong> -->
      <mat-hint align="start">{{purpose?.toString().length}} / 2000</mat-hint>
      <!-- </mat-hint> -->
    </mat-form-field>
  </div>
  <br>
  <div>
    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="picker3" placeholder="Project Start Date" required [value]="projectStartDate.value" (dateInput)="projectStartDate$.next($event.target.value) "
        (dateChange)="projectStartDate$.next($event.target.value) ">
      <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
      <mat-datepicker #picker3></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width">
      <input matInput [matDatepicker]="picker4" placeholder="Project End Date" required [value]="projectEndDate.value" (dateInput)="projectEndDate$.next($event.target.value) "
        (dateChange)="projectEndDate$.next($event.target.value) ">
      <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
      <mat-datepicker #picker4></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="full-width">
      <input matInput placeholder="Amount Requested " value={{amountRequested}} required (keyup)="amountRequested$.next($event.target.value) ">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="full-width">
      <input matInput placeholder="Total Project Cost " value={{totalProjectCost}} required (keyup)="totalProjectCost$.next($event.target.value) ">
    </mat-form-field>
  </div>
</div>