<!-- <div align="center">
    <h2>{{title}}</h2>
</div> -->
<div *ngIf="authService.authenticated">
    <h1>Hi {{currentUser?.username}}!</h1>
</div>
<div *ngIf="!authService.authenticated">
    Please Login
</div>
<div>
    {{env}} - {{API}} - {{InOrganization}} - {{accessLevel}}
</div>

<!-- <nav>
    <ul>
        <li><a [routerLink]="['/Login']">Login</a></li>
    </ul>
</nav> -->
<br>
<div align="center">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div align="center">
                <div class="row">
                    <div class="col-xs-12">
                        <img [src]="fullImagePath" width="200px" height="200px">
                        <div align="center">
                            Welcome
                            <br>
                            <div>
                                The Hagen Family Foundation provides financial grants to not-for-profit organizations in the areas of the arts, education,
                                environment, religion, and social services.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <img [src]="fullImagePath"> -->
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div align="center">
                <div class="row">
                    <div class="col-xs-12">
                        <img [src]="fullImagePath2" width="200px" height="200px">
                        <div align="center">
                            The Christus Victor pre-school children are happy with their new buses. The Foundation was delighted to help with their purchase
                            (2009).
                        </div>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>


<br>
<div align="center">
    <mat-grid-list cols="3" rowHeight="200px">
        <mat-grid-tile>
            <div align="center">
                <a [routerLink]="['/about']">About Us</a>
                <br> Our Mission, Board of Directors, and Public Information
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div align="center">
                <table>
                    <tr>
                        <div align="center">
                            <td>
                                <a [routerLink]="['/application-materials']">Application Materials</a>
                            </td>
                        </div>

                    </tr>
                    <tr>
                        <div align="center">
                            <td>
                                <a [routerLink]="['/application-timeline']">Application Timeline</a>
                            </td>
                        </div>

                    </tr>
                    <tr>
                        <div align="center">
                            <td>
                                <a href="mailto:someone@example.com" target="_top">Contact Us</a>
                            </td>
                        </div>

                    </tr>
                </table>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div align="center">
                <table>
                    <tr>
                        <div align="center">
                            <td>
                                <a [routerLink]="['/inthenews']">THFF In The News</a>
                            </td>
                        </div>

                    </tr>
                    <tr>
                        <div align="center">
                            <td>
                                <a [routerLink]="['/grants-awarded']">Grants Awarded</a>
                            </td>
                        </div>

                    </tr>
                    <tr>
                        <div align="center">
                            <td>
                                <a [routerLink]="['/frequently-asked-questions']">Frequently Asked Questions</a>
                            </td>
                        </div>

                    </tr>
                </table>
            </div>

        </mat-grid-tile>
    </mat-grid-list>
</div>