<div align="center">
    <h2>{{title}}</h2>
</div>
<div *ngIf="authService.authenticated">
    <h1>Hi {{currentUser?.username}}!</h1>
</div>
<div *ngIf="!authService.authenticated">
    Please Login
</div>
<!-- <nav>
    <ul>
        <li><a [routerLink]="['/Login']">Login</a></li>
    </ul>
</nav> -->
<br>
<div align="center">
    <md-grid-list cols="2" rowHeight="300px">
        <md-grid-tile>
            <div align="center">
                <div class="row">
                    <div class="col-xs-12">
                        <img [src]="fullImagePath" width="100%" height="100%">
                    </div>
                </div>
                <!-- <img [src]="fullImagePath"> -->
            </div>
        </md-grid-tile>
        <md-grid-tile>
            <div align="center">
                <div class="row">
                    <div class="col-xs-12">
                        <img [src]="fullImagePath2" width="50%" height="50%">
                    </div>
                </div>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>


<br>
<div align="center">
    <md-grid-list cols="3" rowHeight="200px">
        <md-grid-tile>
            <div align="center">
                <a [routerLink]="['/about']">About Us</a>
                <br> Our Mission, Board of Directors, and Public Information
            </div>
        </md-grid-tile>
        <md-grid-tile>
            <div align="center">
                <table>
                    <tr>
                        <div align="center">
                            <td> <a [routerLink]="['/application-materials']">Application Materials</a></td>
                        </div>

                    </tr>
                    <tr>
                        <div align="center">
                            <td> <a [routerLink]="['/application-timeline']">Application Timeline</a></td>
                        </div>

                    </tr>
                    <tr>
                        <div align="center">
                            <td>
                                <a href="mailto:someone@example.com" target="_top">Contact Us</a>
                            </td>
                        </div>

                    </tr>
                </table>
            </div>
        </md-grid-tile>
        <md-grid-tile>
            <div align="center">
                <table>
                    <tr>
                        <div align="center">
                            <td> <a [routerLink]="['/inthenews']">THFF In The News</a></td>
                        </div>

                    </tr>
                    <tr>
                        <div align="center">
                            <td> <a [routerLink]="['/grants-awarded']">Grants Awarded</a></td>
                        </div>

                    </tr>
                    <tr>
                        <div align="center">
                            <td> <a [routerLink]="['/frequently-asked-questions']">Frequently Asked Questions</a></td>
                        </div>

                    </tr>
                </table>
            </div>

        </md-grid-tile>
    </md-grid-list>
</div>