<div align="center">
    <h2>{{title}}</h2>
</div>
<div align="center">
    <md-input-container>
        <input mdInput placeholder="Username" value="">
    </md-input-container>
    <br>
    <md-input-container>
        <input mdInput placeholder="Email" value="">
    </md-input-container>
    <br>
    <md-input-container>
        <input mdInput placeholder="Password" value="">
    </md-input-container>
    <br>
    <md-input-container>
        <input mdInput placeholder="Confirm Password" value="">
    </md-input-container>
    <br>
    <button md-raised-button (click)="register()">Register</button>
</div>