<div align="center">
    <h2>{{title}}</h2>
</div>
<div align="center">
    <mat-form-field class="quarter-width">
        <input matInput placeholder="Username" value="" required (keyup)="userName$.next($event.target.value)">
    </mat-form-field>
    <div *ngIf="ShowUserNameError">
        That User Name is already taken
    </div>
    <br>
    <mat-form-field class="quarter-width">
        <input matInput placeholder="Email" value="" required (keyup)="email$.next($event.target.value)">
    </mat-form-field>
    <div *ngIf="ShowEmailError">
        That Email is already taken
    </div>
    <br>
    <!-- <div class="password"> -->
    <mat-form-field class="quarter-width">
        <input matInput placeholder="Password" value="" type="password" required (keyup)="password$.next($event.target.value)">
    </mat-form-field>
    <br>
    <div *ngIf="ShowConfirmPassword">
        <mat-form-field class="quarter-width">
            <input matInput placeholder="Confirm Password" value="" type="password" required (keyup)="confirmPassword$.next($event.target.value)">
        </mat-form-field>
    </div>
    <!-- </div> -->
    <br>
    <div *ngIf="CanRegister">
        <button mat-raised-button (click)="register()">Register</button>
    </div>
</div>