<div align="center">
  <h3>501(c)3</h3>
</div>

<mat-grid-list cols="2" [rowHeight]="basicRowHeight">
  <mat-grid-tile>
    <div *ngIf="!HasUpload501c3">
      <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
      <div *ngIf="CanUpload501c3">
        <div align="center">
          <button mat-raised-button (click)="upload()">Upload</button>
        </div>
      </div>
    </div>
    <div *ngIf="HasUpload501c3">
      <button mat-raised-button (click)="get501c3()">View 501c3</button>
      <button mat-raised-button (click)="delete501c3check()">Delete 501c3</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <h4>Status</h4>
      <div>{{outputStatus}}</div>
      <div *ngIf="Rejected501c3">
        <div>
          Please upload another.
        </div>
        <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">
        <div *ngIf="CanUpload501c3">
          <div align="center">
            <button mat-raised-button (click)="uploadReplacement()">Upload</button>
          </div>
        </div>
      </div>
    </div>
  </mat-grid-tile>

</mat-grid-list>