<h3>Letter of Intents
  <div *ngIf="InOrganization">
    <button mat-icon-button color="primary" (click)="createLOI()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</h3>
<div *ngIf="!InOrganization">
  <p>{{NotInOrgMessage}}</p>
</div>
<div *ngIf="HasLOIs">
  <div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>

      <!-- Org Column -->
      <ng-container matColumnDef="organization">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Org </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.organization.name}} </mat-cell>
      </ng-container>

      <!-- createdAt Column -->
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Created On </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.createdAt | date: 'MM/dd/yyyy'}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)">
      </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>